<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Birthday!</title>
</head>

<body style="font-family: Arial, sans-serif; text-align: center; background-color: #f4f4f4; padding: 20px;">

    <h1 style="color: #333;">Happy Birthday, {{name}}</h1>

    <p style="color: #555; font-size: 16px;">Wishing you a fantastic day filled with joy and celebration. May this year
        bring you success and happiness.</p>

    <img src="https://cdn.create.microsoft.com/catalog-assets/en-us/d904dbbf-0a51-4b2d-9b64-3f1677ed8ef3/thumbnails/600/balloons-birthday-card-modern-simple-1-1-183969897250.webp" alt="Birthday Celebration" style="max-width: 100%; height: auto; margin: 20px;">

    <p style="color: #555; font-size: 16px;">Enjoy your special day to the fullest!</p>

    <p style="color: #777; font-size: 14px;">Best Regards,<br>Md Shazib Rahman</p>

</body>

</html>