<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Personal Email</title>
</head>

<body style="font-family: Arial, sans-serif; background-color: #f2f2f2;">
	<div style="max-width: 600px; margin: 0 auto; background-color: #fff; padding: 20px;">
		<h1 style="text-align: center; margin: 30px 0;">Happy Birthday</h1>
		<h2 style="text-align: center; margin: 30px 0;">{{name}}!</h2>

		<p style="text-align: center; font-size: 18px; margin: 20px 0;">Wishing you a wonderful day filled with joy and
			happiness.</p>
		<img src="{{image}}" alt="Birthday Cake"
			style="display: block; margin: 0 auto; width: 400px;">
		<p style="text-align: center; font-size: 18px; margin: 20px 0;">Thank you for being such an amazing person. You
			deserve nothing but the best on your special day.</p>
		<p style="text-align: center; font-size: 18px; margin: 20px 0;">Looking forward to celebrating with you soon!
		</p>
		<p style="text-align: center; font-size: 18px; margin: 20px 0;">Best wishes,</p>
		<p style="text-align: center; font-size: 18px; margin: 20px 0; font-weight: bold; color: #7F7F7F;">Md Shazib
			Rahman</p>
		<div style="background-color: #222; color: #fff; text-align: center; padding: 10px; margin-top: 30px;">
			<p style="font-size: 14px; margin: 0;">Best wishes on your special day!</p>
		</div>
	</div>
</body>

</html>