<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Eid Mubarak!</title>
</head>

<body>
	<div style="background-color: #f5f5f5; padding: 20px;">
		<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
			<tr>
				<td style="text-align: center; padding: 10px 0;">
					<img src="https://media.tenor.com/SJ1pyiG4glUAAAAC/eid-mubarak-%E0%A6%88%E0%A6%A6%E0%A6%AE%E0%A7%8B%E0%A6%AC%E0%A6%BE%E0%A6%B0%E0%A6%BE%E0%A6%95.gif"
						alt="Eid Mubarak!" width="600" height="200" style="display: block;">
				</td>
			</tr>
			<tr>
				<td
					style="font-family: Arial, sans-serif; color: #333; font-size: 18px; text-align: center; padding: 20px;">
					<p>May Allah bless you and your family with peace, happiness, and prosperity on this joyous occasion
						of Eid al-Fitr.</p>
					<p>Wishing you a blessed Eid filled with love, joy, and lots of sweet treats!</p>
				</td>
			</tr>
			<tr>
				<td
					style="font-family: Arial, sans-serif; color: #333; font-size: 18px; text-align: center; padding: 20px;">
					<p>May this Eid bring you peace, joy, and prosperity.</p>
					<p>Wishing you and your loved ones a very happy and blessed Eid al-Fitr!</p>
				</td>
			</tr>
			<tr>
				<td style="text-align: center; padding: 10px 0;">
					<p style="text-align: center; font-size: 18px; margin: 20px 0;">Best wishes,</p>
					<p style="text-align: center; font-size: 18px; margin: 20px 0; font-weight: bold; color: #7F7F7F;">
						Md Shazib Rahman</p>
				</td>
			</tr>
		</table>
	</div>
</body>

</html>